html,
body {
    height: 100%;
}

.admin-login {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: calc(100% - 60px);
    background: white;
    z-index: 5;
}

.admin-login-window:hover {
    box-shadow: 0 2px 5px #1c68ffcc;
}

.admin-login-window {
    display: inline-block;
    width: 300px;
    height: 115px;
    text-align: center;
    position: absolute;
    margin: auto;
    inset: 0;
    border: 1px solid #1c68ff;
    border-radius: 5px;
    box-shadow: 0 0px 0px;
    padding: 50px;
    transition: .2s;
}

.admin-login-header {
    display: block;
    font-size: 2em;
}

.admin-login-window #password {
    margin-top: 30px;
    width: 200px;
    border: 1px solid grey;
    border-right: 0px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
    transition: border .2s;
    text-align: center;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
    height: 30px;
}

.admin-login-window #login {
    width: 70px;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
}

.admin-login-window #password:focus {
    border: 1px solid #1c68ff;
    border-right: none;
}

.header {
    height: 25px;
    box-shadow: 0 0 10px black;
    background: white;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
}

.header-title-admin,
.header-title-x {
    font-size: 1.5em;
}

.header-title-admin {
    color: #ff6e00;
}

.header-title-x {
    color: #0091ff;
}

.header-version {
    font-size: .8em;
    color: #a1a1a1;
}

.header * {
    user-select: none;
}

#check-update {
    cursor: pointer;
}

.adminx-path {
    padding-left: 15px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.adminx-path deli {
    user-select: none;
    margin: 0 5px 0 5px;
}

.adminx-path path::after {
    height: 1px;
    background: #0091ff;
    transform: scale(0);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    transition: .2s;
    transform-origin: center;
}

.adminx-path path {
    position: relative;
    transition: .2s;
    color: black;
    cursor: pointer;
}

.adminx-path path:hover::after {
    transform: scale(1);
}

.adminx-path path:hover {
    color: #0091ff;
}

* {
    -webkit-tap-highlight-color: transparent;
}

file,
dire {
    position: relative;
    background: #ededed;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    transition: .2s;
    cursor: pointer;
    user-select: none;
}

file::before,
dire:before {
    display: inline-block;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg t='1629774504235' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2220' width='200' height='200'%3E%3Cpath d='M869.866667 152.533333c0-25.066667-20.266667-45.333333-45.333334-45.333333H198.933333c-25.066667 0-45.333333 20.266667-45.333333 45.333333v718.4c0 25.066667 20.266667 45.333333 45.333333 45.333334h277.866667c18.666667 0 34.133333-15.466667 34.133333-34.133334 0-18.666667-14.933333-34.133333-34.133333-34.133333H222.4V176h578.666667v435.2h-168.533334c-34.133333 0-62.4 27.733333-62.4 62.4V877.333333c-0.533333 9.6 2.666667 19.2 10.133334 26.666667 13.333333 13.333333 35.2 13.333333 48.533333 0l230.933333-230.933333c6.933333-6.933333 10.133333-16 10.133334-25.066667V152.533333zM656 680h99.733333l-116.8 116.8v-99.733333c0-9.6 7.466667-17.066667 17.066667-17.066667z' fill='%23000000' p-id='2221' data-spm-anchor-id='a313x.7781069.0.i3' class='selected'%3E%3C/path%3E%3Cpath d='M339.2 363.2h344.533333c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H339.2c-19.2 0-35.2 16-35.2 35.2 0 19.2 15.466667 35.2 35.2 35.2zM304 491.733333c0 19.2 16 35.2 35.2 35.2h344.533333c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H339.2c-19.733333-0.533333-35.2 15.466667-35.2 35.2z' fill='%23000000' p-id='2222' data-spm-anchor-id='a313x.7781069.0.i9' class='selected'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin: 10px;
    transition: all .2s;
}

file.selected::before {
    background-image: url("data:image/svg+xml,%3Csvg t='1629774504235' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2220' width='200' height='200'%3E%3Cpath d='M869.866667 152.533333c0-25.066667-20.266667-45.333333-45.333334-45.333333H198.933333c-25.066667 0-45.333333 20.266667-45.333333 45.333333v718.4c0 25.066667 20.266667 45.333333 45.333333 45.333334h277.866667c18.666667 0 34.133333-15.466667 34.133333-34.133334 0-18.666667-14.933333-34.133333-34.133333-34.133333H222.4V176h578.666667v435.2h-168.533334c-34.133333 0-62.4 27.733333-62.4 62.4V877.333333c-0.533333 9.6 2.666667 19.2 10.133334 26.666667 13.333333 13.333333 35.2 13.333333 48.533333 0l230.933333-230.933333c6.933333-6.933333 10.133333-16 10.133334-25.066667V152.533333zM656 680h99.733333l-116.8 116.8v-99.733333c0-9.6 7.466667-17.066667 17.066667-17.066667z' fill='%23ffffff' p-id='2221' data-spm-anchor-id='a313x.7781069.0.i3' class='selected'%3E%3C/path%3E%3Cpath d='M339.2 363.2h344.533333c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H339.2c-19.2 0-35.2 16-35.2 35.2 0 19.2 15.466667 35.2 35.2 35.2zM304 491.733333c0 19.2 16 35.2 35.2 35.2h344.533333c19.2 0 35.2-16 35.2-35.2 0-19.2-16-35.2-35.2-35.2H339.2c-19.733333-0.533333-35.2 15.466667-35.2 35.2z' fill='%23ffffff' p-id='2222' data-spm-anchor-id='a313x.7781069.0.i9' class='selected'%3E%3C/path%3E%3C/svg%3E");
}

dire:before {
    background-image: url("data:image/svg+xml,%3Csvg t='1629774651688' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2628' width='200' height='200'%3E%3Cpath d='M894.304 228H536.704c-19.52 0-37.792-8.896-49.92-24.096L449.6 156.896a63.552 63.552 0 0 0-49.92-24.096H129.728c-35.2 0-63.68 28.48-63.68 63.68v633.408c0 35.2 28.48 63.712 63.68 63.712H894.4c35.2 0 63.68-28.48 63.68-63.68V291.584a63.808 63.808 0 0 0-63.776-63.616zM399.68 196.192l0.096 0.096 37.184 47.04a126.336 126.336 0 0 0 99.712 48.16l357.792 0.224v88.576H129.6V196.192h270.08z m-270.208 633.6L129.6 443.84h764.8l-0.096 386.208-764.8-0.224z' fill='%23000000' p-id='2629'%3E%3C/path%3E%3C/svg%3E");
}

dire.selected::before {
    background-image: url("data:image/svg+xml,%3Csvg t='1629803246735' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9169' width='200' height='200'%3E%3Cpath d='M894.304 228H536.704c-19.52 0-37.792-8.896-49.92-24.096L449.6 156.896a63.552 63.552 0 0 0-49.92-24.096H129.728c-35.2 0-63.68 28.48-63.68 63.68v633.408c0 35.2 28.48 63.712 63.68 63.712H894.4c35.2 0 63.68-28.48 63.68-63.68V291.584a63.808 63.808 0 0 0-63.776-63.616zM399.68 196.192l0.096 0.096 37.184 47.04a126.336 126.336 0 0 0 99.712 48.16l357.792 0.224v88.576H129.6V196.192h270.08z m-270.208 633.6L129.6 443.84h764.8l-0.096 386.208-764.8-0.224z' fill='%23ffffff' p-id='9170' data-spm-anchor-id='a313x.7781069.0.i26' class='selected'%3E%3C/path%3E%3C/svg%3E");
}

file:hover,
dire:hover {
    background: #c7c7c7;
}

.editor {
    position: absolute;
    inset: 0;
    background: white;
}

.admin-view {
    position: relative;
    height: 100%;
}

#code {
    resize: none;
    border: none;
    outline: none;
    background: #f9f9f9;
    padding: 20px;
    font-size: 1em;
    font-family: auto;
}

#adminx-edit {
    position: fixed;
    height: calc(100% - 155px);
    width: 100%;
}

#code, .CodeMirror {
    height: 100% !important;
    width: 100%;
    border-top: 1px solid #bbb;
}

.adminx-path::after {
    width: calc(100% - 30px);
    height: 1px;
    position: absolute;
    content: '';
    background: #bbb;
    bottom: 0;
    top: 100%;
}

.hidden {
    display: none;
}

btn {
    display: inline-block;
    padding: 3px 10px;
    margin-top: 3px;
    border-radius: 5px;
    background: #1b67ff;
    color: white;
    user-select: none;
    transition: .2s;
    cursor: pointer;
}

.mult-control-btn, .control-btn {
    margin: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    text-align: center;
}

btn:hover {
    background: #3289ff;
}

btn:active {
    box-shadow: 0px 1px 3px #000000a8;
    background: #006be1;
}

file:active, dire:active {
    background: #a1a1a1;
}

dire.selected, file.selected {
    background: #0090ff;
    color: white;
}

.notice {
    position: fixed;
    bottom: -30px;
    width: calc(100% - 10px);
    height: 30px;
    background: orange;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: .2s;
    box-shadow: 0 0 5px 0px black;
    z-index: 10;
}

.notice-text::before {
    content: '';
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url("data:image/svg+xml,%3Csvg t='1629776240392' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='3487' width='200' height='200'%3E%3Cpath d='M512 373.8c-20.1 0-36.3 16.3-36.3 36.3v181.6c0 20.1 16.3 36.3 36.3 36.3 20.1 0 36.3-16.3 36.3-36.3V410.1c0-20-16.2-36.3-36.3-36.3z m0 326.9c-20.1 0-36.3 16.3-36.3 36.3 0 20.1 16.3 36.3 36.3 36.3 20.1 0 36.3-16.3 36.3-36.3 0-20-16.2-36.3-36.3-36.3z' p-id='3488' fill='%23ffffff'%3E%3C/path%3E%3Cpath d='M730 836.4H149.2L294 584.6l37.6-65.5L512 205.5l180.3 313.6 37.7 65.5 144.8 251.8H730z m220.8-13.5l-389-676.5c-11.5-20-29.6-31.5-49.8-31.5-20.2 0-38.3 11.5-49.8 31.5l-389 676.5C61.8 842.8 61 864.3 71 881.7c10.1 17.4 29.1 27.4 52 27.4h778c22.9 0 41.8-10 51.9-27.4 10.2-17.4 9.4-38.9-2.1-58.8z' p-id='3489' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    vertical-align: middle;
    margin: 5px;
}

.notice-text {
    display: flex;
    align-items: center;
}

.notice.show {
    bottom: 0;
}

.adminx-path deli::before {
    content: '/';
}

#upload-file {
    display: none;
}

.adminx-index {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 45px);
}

.adminx-filelist {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.mult-control-btn::-webkit-scrollbar {
    display: none;
}

.adminx-filelist::-webkit-scrollbar {
    display: none;
}

.control-btn::-webkit-scrollbar {
    display: none;
}

.adminx-index::-webkit-scrollbar {
    display: none;
}

.menu-group {
    display: inline-block;
    position: relative;
    margin-block: 0;
    margin-inline: 0;
    padding-inline-start: 0;
    list-style-type: auto;
    border-radius: 5px;
    transition: .2s;
}

.menu-group.show {
    background: #eeeeee;
}

.menu-group.show item:hover {
    background: #bbbbbb;
}

.menu-group.show item:active {
    background: #aaaaaa;
}

.menu-group.show .menu-item {
    transform: scaleY(1);
    opacity: 1;
}

.menu-group .menu-item {
    position: fixed;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    min-width: 100px;
    padding: 1px;
    background: #eeeeee;
    user-select: none;
    transition: .2s;
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}

.menu-group .menu-item item {
    display: block;
    background: #eeeeee;
    transition: .2s;
    border-radius: 5px;
    margin-bottom: 3px;
    height: 25px;
}

.menu-group.show .menu-btn:after {
    transform: rotate(0deg);
}

.menu-group .menu-btn::after {
    content: '△';
    display: inline-block;
    margin-left: 5px;
    transition: .2s;
    transform: rotate(180deg);
}

#index-edit {
    overflow: scroll;
    height: calc(100% - 110px);
}

#index-edit::-webkit-scrollbar {
    display: none;
}

file size {
    position: absolute;
    right: 15px;
}


@media screen and (max-width:800px) {
    .admin-login-window {
        border: none;
        padding: 0;
        box-shadow: none !important;
    }
}
